* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Montserrat-Light;
  font-size: 0.7rem;
  font-weight: 700;
  color: whitesmoke;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

  background-color: #2f363e;
}

#clock-container {
  position: relative;

  width: 280px;
  height: 280px;
  display: flex;

  justify-content: center;
  align-items: center;

  scale: 2;
  box-shadow: inset 5px 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

#clock-marks {
  position: absolute;

  width: 110px;
  height: 110px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#mark-12 {
  stroke-dasharray: 0.5 25.62;
  stroke-width: 10;
  stroke: white;
  fill: none;
}

#mark-60 {
  stroke-dasharray: 0.5 4.724;
  stroke-width: 3;
  stroke: white;
  fill: none;
  opacity: 0.5;
}

#labels {
  position: absolute;
  height: 135px;
  width: 20px;
  aspect-ratio: 1;
}

#labels .clock-label {
  position: absolute;

  left: 50%;
  text-align: center;
  transform: translateX(-50%) rotate(calc(30deg * var(--count)));
  height: 100%;
  width: 20px;
}

.clock-label span {
  position: absolute;

  left: 50%;
  transform: translateX(-50%) rotate(calc(-30deg * var(--count)));
}

#time {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;

  justify-content: center;
  align-items: center;
}

#time .circular-track {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;
}

#time .circular-track svg {
  position: relative;
  transform: rotate(270deg);
}

#time .circular-track:nth-child(1) svg {
  width: 180px;
  height: 180px;
}
#time .circular-track:nth-child(2) svg {
  width: 160px;
  height: 160px;
}
#time .circular-track:nth-child(3) svg {
  width: 110px;
  height: 110px;
}

#time .circular-track:nth-child(4) svg {
  width: 80px;
  height: 80px;
}

#time .circular-track svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: var(--stroke-width);
  stroke: var(--bgColor);
  transform: translate(5px, 5px);
  opacity: 0.25;
}

#time .circular-track:nth-child(3) svg circle {
  opacity: 0.75;
}

/* #time .circular-track svg circle {
  stroke-linecap: round;
} */

#time .circular-track:nth-child(1) svg circle {
  stroke-dasharray: 534.07075111026;
  stroke-dashoffset: 534.07075111026;
}

#time .circular-track:nth-child(2) svg circle {
  stroke-dasharray: 471.2388980385;
  stroke-dashoffset: 471.2388980385;
}

#time .circular-track:nth-child(3) svg circle {
  stroke-dasharray: 314.159265359;
  stroke-dashoffset: 314.159265359;
}

#time .circular-track:nth-child(4) svg circle {
  stroke-dasharray: 219.9114857513;
  stroke-dashoffset: 219.9114857513;
}

.dots {
  position: absolute;
  height: 100%;
  width: 10px;
  transition: 750ms;
}

.dots::before {
  content: "";
  position: absolute;

  height: var(--dot-size);
  aspect-ratio: 1;
  top: 5px;
  left: 50%;
  border-radius: 50%;

  transform: translate(-50%, -50%);
  background-color: var(--bgColor);

  box-shadow: 0 0 20px var(--bgColor), 0 0 40px var(--bgColor),
    0 0 60px var(--bgColor), 0 0 80px var(--bgColor);
}

.dots::after {
  content: "";
  position: absolute;
  bottom: calc(50% - 4px);
  left: 50%;
  height: var(--needle-length);
  transform: translateX(-50%);
  width: calc(var(--needle-width) * 1px);
  background-color: var(--bgColor);
  opacity: 0.5;
}

#clock-container::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  background-color: white;
}

svg circle {
  transition: 300ms;
}

.vLine,
.hLine {
  position: absolute;

  opacity: 0.1;
  background-color: aliceblue;
}

.vLine {
  width: 1px;
  height: 100%;
}

.hLine {
  width: 100%;
  height: 1px;
}
